# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
polars[deltalake, fsspec]==1.12.0
azure-storage-blob
adlfs